/* Dante's custom CSS! */

/* Color 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help, .footer {
    background: rgb(14,31,47);
  background: linear-gradient(180deg, rgba(14,31,47,1) 0%, rgba(30,52,73,1) 90%);
    /* background-image: url(../images/flatiron-bkgd.jpg); */
    background-position: top center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%; /* Cover = Resize the background image to cover the entire container */
}


h4.type  {
  background-color: #132538;
}

h4.type span {
    color: #97b1bd;
}
 h1 {
    color: #0e1f2f;
}


/* Color 2 (accent)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  background-color: #fff;
}
.footer a {
  color: #fec44a;
}
.footer a:hover {
  color: #5f85a0;
}

h3.section-heading {
    color: #223d56;
}

/* Color 3 (Scroll down indicator)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.keepScrolling {
    height: 93px;
    background-color: #5f85a0;
    background-image: url(../images/scroll-down-arrow.png);
    background-position: 50% -15px;
    background-size: 48px 41px;
    background-repeat: no-repeat;

}

 .avatar span, .icon.style2 {
  border: solid 1px #3d6892;
}

.section.categories {
  border-bottom: solid 5px #7e9caa;
}

.sticky + .section.categories {
  padding-top: 185px;
}

/* Color 4
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.keepScrolling {
  border-bottom: solid 30px #e6d1c1;
}



h3.section-heading span {
    color: #496775;  
}
.categories .section-description, .caption {
    color: #182b3f;  
}


/* Color 5
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.get-help p.section-description {
   color: #fff;
}
.categories, body {
  background-color:#97b1bd;
}
a.icon.style2  {
  color:#4878a6;
}
.portfolioTitle {
  color:#1e3449;
}

.categories {
  color: #ffdf9c;
}



/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #1f3a95;
}
a:hover {
    color: #4878a6;
}
a.imageThumb:hover {
  -webkit-box-shadow: 5px 5px 18px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: 5px 5px 18px -4px rgba(0,0,0,0.55);
  box-shadow: 5px 5px 18px -4px rgba(0,0,0,0.55);

}

.button {
  border-radius: 100px;
}




/* Most customization
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: 'Roboto', sans-serif;
}

a.hidden {visibility: hidden;}

h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  letter-spacing: -0.25rem;
  display: inline-block;
  padding: 0.9rem 2.7rem;

}
.nametag {
  background-color: #174168;
  padding: 6px 19px;
  border-radius: 10px;
  border: solid 6px white;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
  padding: 2rem 0 0rem 0;
}

.nametag h4,  .nametag h6 {
  color: #fff;
}

.nametag h4 {
  margin-bottom: 0rem;
  font-size: 4.3rem;
  line-height: 3.5rem;
}
.nametag h6 {
  margin-bottom: 1.2rem;
  font-weight: 200;
  font-size: 2rem;
}

.get-help .section-description h2 {
    font-size: 3.1rem;
    font-weight: 700;
    color: #fec44a;
    margin-bottom: 1px;
}

.get-help .section-description p {
    font-size: 2.15rem;
    font-weight: 700;
      color: #ffdf9b;
}

.portfolioTitle {
    margin-bottom: 1.3rem;
    margin-top: 2rem;
    text-transform: uppercase;
    background-color: #fec44a;
    display: block;
   border-radius: 5px;
   padding: 2px 9px;
    margin-left: 10rem;
    margin-right: 10rem;
}

.portfolioTitle a {
  text-decoration: none;
  color: #4878a6;
}
.portfolioTitle a:hover {
  color: #f5f585;
  text-decoration: none;
}

.navigation {
  text-align: center;
  background-color: #1e3449;
  /* background-image: url(../images/flatiron-bkgd.jpg); */
  background-position: left -230px; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%; /* Cover = Resize the background image to cover the entire container */
  padding: 0.1rem 0 1rem 0;
  z-index: 99;
}

.navigation.portfolioTitle {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-transform: uppercase;
    display: inline-block;
    background-color: #f5f585;
    padding: 0.6rem 1.2rem;
    border-radius: 0.7rem;
}

.portfolioTitle.link {
    background-color: #184168;
}


div.navigation > h6:nth-child(1) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    margin-bottom: 2px;
    border-bottom-left-radius: 0px;
}
div.navigation > h6:nth-child(2) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    margin-top: 1px;
}



.section.categories .container { /* space between Portfolio rows */
    margin-bottom: 4rem;
}
.categories .section-description {
    margin-bottom: 0.9rem;
    font-size: 1.7rem;
    text-wrap: balance;
}
.section-description strong {
    color: #496775;
}

.caption {
    margin-top: 2rem;
    text-align: left;
    margin-left: 0.3rem;
}
}
.container .row {
    margin-top: 2rem;
}
h4.type {
    margin: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 2.1rem;
    padding: 0.5rem 0;
    font-weight: 400;
}
img.u-max-full-width {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    /* zoom: 50%; */
    transform: scale(0.5, 0.5) rotate(7deg);
    -moz-transform: scale(0.5, 0.5) rotate(7deg);
    filter: grayscale(20%) contrast(90%);
    -webkit-filter: grayscale(20%) contrast(90%);
    
}
a.imageThumb {
    overflow: hidden;
    display: block;
    max-height: 315px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-box-shadow: 5px 5px 8px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 8px -4px rgba(0,0,0,0.35);
    box-shadow: 5px 5px 8px -4px rgba(0,0,0,0.35);
}

img.featherlight-image.featherlight-inner {
    border: solid 1px gray;
}

.featherlight .featherlight-close-icon {
    top: 2px;
    right: 2px;
    color: #b5b5b5;
    background: transparent;
}

a:hover img.u-max-full-width {
    -webkit-filter: grayscale(0%) contrast(100%);
    filter: grayscale(0%) contrast(100%);
}
.footer p {
    line-height: 2rem;
    margin-bottom: 1.2rem;
    color: #fff;
}

/* Avatar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

 .avatar span {
    border-radius: 100%;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0.5em;
    /* background-color: rgba(255, 255, 255, 0.075); */
}
.avatar span img {
    border-radius: 100%;
    display: block;
    width: 10em;
}
/* Contact icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

    ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

      ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
      }

        ul.icons li:last-child {
          padding-right: 0;
        }

  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }

    .icon.style2 {
      -moz-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border-radius: 100%;
      display: inline-block;
      padding: 0.5em;
      /* background-color: rgba(255, 255, 255, 0.075); */
    }

      .icon.style2:before {
        display: block;
        width: 1.25em;
        height: 1.25em;
        line-height: 1.25em;
        font-size: 1.35em;
      }

      .icon.style2:hover {
        background-color: #fec44a;
        border: solid 1px #fec44a;
      }

      a.icon.style2:hover {
        color: #1e3549;
      }

      @media screen and (max-width: 736px) {

        .icon.style2:before {
          font-size: 1em;
        }

      }

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 3rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 2.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}


/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Bigger than 400px */
@media (min-width: 400px) {
  a.imageThumb {
    max-height: 215px;
}
  .section.get-help {
    padding: 3rem 0 0rem;

  }  
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 8rem 0 7rem;
  }
  .section.get-help {
    padding: 5rem 0 0rem;
   /* -webkit-clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
    clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0); */
  } 
 .navigation {
    -webkit-clip-path: polygon(100% -1%, 100% 72%, 50% 100%, 0 72%, 0 -1%);
    clip-path: polygon(100% -1%, 100% 72%, 50% 100%, 0 72%, 0 -1%);
    padding: 0 0 2.5rem 0;
    background-position: left -340px; /* Center the image */
 }  

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.container {
    width: 90%;
  }  
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  a.imageThumb {
    max-height: 195px;
  }

.portfolioTitle {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    min-width: 175px;
}
div.navigation > h6:nth-child(1) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 2px;
  border-bottom-left-radius: 5px;
}

div.navigation > h6:nth-child(2) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 1px;
  border-top-right-radius: 5px;
}

} 

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 7rem 0 4rem;
  }
.container {
    width: 80%;
}    
  .categories {
    padding: 9rem 0 3rem;
  }  
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  a.imageThumb {
  max-height: 250px;
  }

}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 7rem 0 3rem;
  } 
  .categories {
    padding: 7rem 0 2rem;
  }  
.container {
    width: 80%;
}   
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
  a.imageThumb {
  max-height: 315px;
  }  
}