/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1809 {
    padding: clamp(11.75rem, 7.82vw, 13.25rem) 3rem;
    /* 100px - 200px */
    padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  h5 span.spectrum-effect {
     background: rgb(255,45,44);
    background: linear-gradient(90deg, rgba(255,45,44,1) 0%, rgba(255,160,44,1) 20%, rgba(255,255,44,1) 39%, rgba(86,232,79,1) 58%, rgba(45,58,180,1) 80%, rgba(187,84,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  #sbs-1809 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1809 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 40.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 3;
  }
  #sbs-1809 .cs-text {
    margin-bottom: 1rem;
  }
#sbs-1809 .cs-title {
  font-size: clamp(2.5625rem, 3.3vw, 3.65rem);
  line-height: 1.3;
   margin: 0 0 3rem 0;
  }

 #sbs-1809 h5.cs-title {
  font-size: clamp(1.6625rem, 2vw, 2.65rem);
  line-height: 1.4;
  color: var(--headerColorDarker);
   margin-bottom: 3rem;
  } 


  
  #sbs-1809 .cs-title a {
    color:  var(--accent);
    text-decoration: underlines;
    transition: all 150ms;
  }


  #sbs-1809 .cs-title a:hover {
    color:  var(--pageBackground);
    background-color: var(--accent);
    transform: scale(1.08);

  }
  #sbs-1809 .cs-topper {
      margin-bottom: 1.75rem;
    }

  #sbs-1809 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1809 .cs-button-solid {
    font-size: 1.2rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--accent);
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--pageBackgroundLighter);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
   #sbs-1809 .cs-button-solid:hover {
    color: var(--pageBackground);

   }
  #sbs-1809 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--primary);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-1809 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1809 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(1.7vw, .60rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 43.6875em;
    height: 40.1875em;
    position: relative;
    z-index: 1;
  }

  /* make the text wrap nice for the intro section */
  #sbs-1809 .cs-content {
  text-wrap: pretty;
  }

  #sbs-1809 .cs-picture {
    width: auto;
    height: 40.1875em;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0em;
    transform: translateX(-50%);
  }
  #sbs-1809 .cs-picture img {
    width: auto;
    height: 81%;
    object-fit: contain;
  }
  #sbs-1809 .cs-splatter {
    width: 50.875em;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 2.5em;
    right: -7.5em;
    z-index: -2;
    filter: invert(21%) sepia(6%) saturate(324%) hue-rotate(201deg) brightness(89%) contrast(90%);
  }
  #sbs-1809 .cs-graphic {
    width: 100%;
    min-width: 75rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }
  #sbs-1809 .cs-dark {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1809 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbs-1809 .cs-image-group {
    /* set to inherit at Large Desktop */
    font-size: min(1.2vw, 1rem);
  }
  #sbs-1809 .cs-image-group:before {
    display: block;
  }
  #sbs-1809 .cs-content {
    width: 70%;
  }
}
                                