/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1443 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbs-1443 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto auto 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
    #sbs-1443 .cs-container-title {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    position: relative;
  }
  #sbs-1443 h2.cs-title {
    margin-bottom: .5rem;
  }
  #sbs-1443 h3.cs-title {
    font-size: clamp(1.4375rem, 3.2vw, 1.9625rem);
    font-weight: 500;
    margin: 0 0 4rem 0;
    max-width: inherit;
  }
  #sbs-1443 .cs-h4 {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--headerColor);
    margin: 0 0 1rem 0;
  }
  #sbs-1443 .cs-container-title > h2 > span {
    width: 3rem;
    height: 3rem;
    margin: 0 0.3rem 0 0;
    border-radius: 50%;
    background-color: var(--primary);
    display: inline-block;
    padding: 0.5rem 0 0 0;
    text-align: center;
    color: var(--pageBackground);
    font-size: 2.5rem;
    line-height: 2rem;
  }

/* Improving text wrap */
  .cs-h4, .cs-text, .cs-li-text {
    text-wrap: pretty;
  }

  /* Thumbnail layout stacked for mobile */
  .thumbnail-grid-row, .thumbnail-grid-column {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  #sbs-1443 .thumbnail-grid-column .cs-picture {
  height: fit-content;
  width: auto;
  min-height: inherit;
}



    #sbs-1443 .cs-h5  {
    font-weight: 800;
    font-size: 1.3rem;
    color: var(--headerColor);
    margin: .8rem 0 0.4rem 0;
  }
  .cs-content-subsection {
  /* arrow icon layout*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    }
    .cs-icon .right {
      display: none;
    }
    .cs-icon .down {
      display: inline-block;
    }
    .cs-content-subsection .cs-icon  {
    color: var(--primary);
    }

  #sbs-1443 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1443 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1443 .cs-text:last-of-type {
    margin-bottom: 0rem;
  }
  .subsection-text .cs-text {
    font-size: 1.2rem;
  }
#sbs-1443 ol.cs-text {
    padding-inline-start: 1.2rem;
  }
  #sbs-1443 ol.cs-text li {
    margin-bottom: 0.7rem;
}
  #sbs-1443 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  #sbs-1443 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #sbs-1443 .cs-li-picture {
    width: 3rem;
    height: 3rem;
    margin: 0;
    border-radius: 50%;
    background-color: var(--pageBackgroundLighter);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #sbs-1443 .cs-li-picture i {
    color: var(--bodyTextColor);
  }
  #sbs-1443 .cs-li-picture:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: .1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1443 .cs-li-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbs-1443 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #sbs-1443 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-1443 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1443 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #sbs-1443 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1443 .cs-picture {
    width: 100%;
    max-width: 46.625rem;
    min-height: fit-content;  /* min-height: 22.625rem; */
    border-radius: .5rem;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
    /* temp for build */
    background-color: #F3F3F3;
  }

  /* adjustments for the Figma section */

  #sbs-1443 .cs-picture.transparent {
    background-color: transparent;
  }

  #sbs-1443 .thumbnail-grid-column .cs-picture.no-border-radius {
    border-radius: 0;
  }

  #sbs-1443 .thumbnail-grid-column.down-arrow ul.cs-card-group {
    max-width: 47rem;
    margin-left: 0;
  }
  .down-arrow .cs-icon {
    color: var(--primary);
    text-align: center;
  }

  #sbs-1443 .cs-li-picture.positive {
    background-color: #6bb551;
  }

  #sbs-1443 .cs-li-picture.positive i {
    color: var(--pageBackground);
  }

    #sbs-1443 .cs-li-picture.negative {
    background-color: #e52545;
  }

  #sbs-1443 .cs-li-picture.negative i {
    color: var(--pageBackground);
  }


  #sbs-1443 .cs-picture img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1443 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
  }

  /* arrow icon layout*/  
    .cs-content-subsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    }

    .cs-icon .right {
      display: inline-block;
    }
    .cs-icon .down {
      display: none;
    }

  #sbs-1443 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }

/* Smaller thumbnails */
.thumbnail-grid-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 65%;
}
.thumbnail-grid-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#sbs-1443 .thumbnail-grid-column .cs-picture {
  height: fit-content;
  width: auto;
  min-height: inherit;
}

/* Hanging indent for numbers */
    #sbs-1443 {
    padding-left: 8rem;
  }
  h2.cs-title {
    margin-left: -6rem;
  } 

  #sbs-1443 .cs-card-group {
    margin-left: -1rem;
  }

    #sbs-1443 .cs-container-title > h2 > span {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 0.7rem 0 0;
    padding: 0.5rem 0 0 0;
    font-size: 3rem;
    line-height: normal;
  }

    #sbs-1443 .cs-container-title {
    max-width: 80rem;
    position: relative;
    margin-bottom: 3rem;
  }
  #sbs-1443 .cs-content {
    width: 35%;
    padding: 0;
  }
  #sbs-1443 .cs-picture {
    height: fit-content;
    width: 65%;
    max-height: 32rem;
  }
}
                                